<div class="description">
  <h1>Description</h1>
  <p>Explore the city, learn, decide – and see the consequences!</p>
  <div class="description-content">
    <div class="description-item">
      <h2>Step 1 idk</h2>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Dolorem, magni, odio? Aliquid
        at consectetur expedita molestiae nesciunt non omnis,
        optio placeat quia. Accusamus alias deleniti ex quibusdam
        sint tempore veritatis?</p>
    </div>
    <div class="description-item">
      <h2>Step 2 idk</h2>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Dolorem, magni, odio? Aliquid
        at consectetur expedita molestiae nesciunt non omnis,
        optio placeat quia. Accusamus alias deleniti ex quibusdam
        sint tempore veritatis?</p>
    </div>
    <div class="description-item">
      <h2>Step 3 idk</h2>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Dolorem, magni, odio? Aliquid
        at consectetur expedita molestiae nesciunt non omnis,
        optio placeat quia. Accusamus alias deleniti ex quibusdam
        sint tempore veritatis?</p>
    </div>
  </div>
</div>
